<?xml version="1.0" encoding="UTF-8"?>
	<beans>
		<bean id = "OrderDao" class = "cn.kgc.tangcco.tcbd1017.on.impl.OrderDaoImpl"/>
		<bean id = "OrderService" class = "cn.kgc.tangcco.tcbd1017.on.impl.OrderServiceImpl"/>
		<bean id = "ShoppingCartDao" class = "cn.kgc.tangcco.tcbd1017.on.buyer.impl.ShoppingCartDaoImpl"/>
		<bean id = "SetMealDao" class = "cn.kgc.tangcco.tcbd1017.on.system.impl.SetMealDaoImpl"/>
		<bean id = "GoodsDao" class = "cn.kgc.tangcco.tcbd1017.on.impl.GoodsDaoImpl"/>
		<bean id = "GoodsService" class = "cn.kgc.tangcco.tcbd1017.on.impl.GoodsServiceImpl"/>
		<bean id = "RecordDao" class = "cn.kgc.tangcco.tcbd1017.on.buyer.impl.RecordDaoImpl"/>
		<bean id = "RecordService" class = "cn.kgc.tangcco.tcbd1017.on.buyer.impl.RecordServiceImpl"/>
	
	</beans>