<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户 iframe 框</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <script src="../../../layuiadmin/layui/layui.js"></script>
</head>

<body>

  <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
    style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">姓名</label>
      <div class="layui-input-inline">
        <input type="text" name="nickname" id="nickname" lay-verify="nickname" placeholder="请输入用户名" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">账号</label>
      <div class="layui-input-inline">
        <input type="text" name="account" id="account" lay-verify="account" placeholder="请输入用户名" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">手机号码</label>
      <div class="layui-input-inline">
        <input type="text" name="phone" id="phone" lay-verify="phone" placeholder="请输入号码" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">邮箱</label>
      <div class="layui-input-inline">
        <input type="text" name="email" id="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">头像</label>
      <div class="layui-input-inline">
        <input type="text" name="avatar" id="avatar" lay-verify="avatar" placeholder="请上传图片" autocomplete="off"
          class="layui-input">
      </div>

      <button type="button" id="layuiadmin-upload-useradmin" class="layui-btn layui-btn-primary"><i
          class="layui-icon">&#xe681;</i></button>
      <button type="button" id="avartatPreview" class="layui-btn layui-btn-primary"><i
          class="layui-icon">&#xe615;</i></button>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
        <input type="radio" name="sex" id="sex" value="1" title="男">
        <input type="radio" name="sex" id="sex" value="2" title="女" checked>
        <input type="radio" name="sex" value="" title="中性" disabled>
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
  </div>


  <script>



    layui.use(['form', 'upload'], function () {
      var $ = layui.$
        , form = layui.form
        , upload = layui.upload;

      let user = sessionStorage.getItem("user")
      let $user = JSON.parse(user);
      let $url = JSON.parse(sessionStorage.getItem('url'))


      form.verify({
                //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                account: [
                    /^[\s\S]*.*[^\s][\s\S]*$/
                    , '账号不能是空'
                ],
                nickname: function (value) { //自定义lay-verify的昵称，value：表单的值
                    if (value.length == 0) {
                        return "姓名不能是空";
                    }
                },
                avatar: function (value) { //自定义lay-verify的昵称，value：表单的值
                    if (value.length == 0) {
                        return "请上传头像";
                    }
                }
            });

      upload.render({
        elem: '#layuiadmin-upload-useradmin'
        , url: $url + '/front/userInfo.action?methodName=img'
        , accept: 'images'
        , method: 'get'
        , acceptMime: 'image'
        , done: function (res) {
          console.log(res.url)
          $(this.item).prev("div").children("input").val(res.url)
        }
      });


      $('#avartatPreview').click(() => {
        var src = $('#avatar').val();
        layer.photos({
          photos: {
            "title": "查看头像" //相册标题
            , "data": [{
              "src": src //原图地址
            }]
          }
          , shade: 0.01
          , closeBtn: 1
          , anim: 5
        });
      })


    })




  </script>
</body>

</html>